.details-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    column-gap: 100px;
    margin:0px 40px;
    align-items: center;
}
.details-left{
border: 2px solid red;
;
}
.details-right{
border : 2px solid green;
 padding: 10px 30px;
 /* background-color: #7E90FE; */
 width: 200px;
}
.btn-apply-now{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    ;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    width: 100%;
}