.featured-jobs-container{
    text-align: center;
    margin-top: 60px;
}
.jobs-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 20px auto;
    align-items: center;
    justify-items: center;
  
}
.btn-see-all{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 4px;
    width: 157px;
    height: 49px;
    border: none;
    
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
}
.btn{
    display: flex;
    margin-top: 20px;
}