.header-second-section {
    display: flex;
    column-gap: 100px;
    align-items: center;

}

.header-title {
    font-size: 30px;
}

.header-second-section img {
    width: 600px;
}

.title-color {
    color: orange;
}